<div class="container">
    <div class="row">
        <div class="col-12">
            <div style="background: blue; color: white; padding: 20px;">
                Usuario: {{userNameParam}}
                <div class="controles">
                    Edición Controles
                </div>
            </div>
            <br/>

            <table class="table">

                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">mg/dl</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let control of arrControl">
                        <td scope="row">{{control.date|date: 'dd/MM/yyyy'}}</td>
                        <td>{{control.time}}</td>
                        <td>{{control.mgdl}}</td>
                        <td><button type="submit" class="btn btn-primary" (click)="editar(control.id)">Editar</button></td>
                        <td><button type="submit" class="btn btn-primary" (click)="eliminar(control.id)">Eliminar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="formulariocontrol">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <div class="form-group"><label for="fecha">Fecha</label><input type="text" class="form-control" formControlName="date"></div>

        <div class="form-group"><label for="hora">Hora</label><input type="text" class="form-control" formControlName="time"></div>
        <div class="form-group"><label for="control">Control</label><input type="text" class="form-control" formControlName="mgdl"></div>
        <div class="form-group"><button type="submit" class="btn btn-primary">Editar</button>
        </div>
    </form>
</div>















<!-- TABLA OK - MOSTRAR REGISTROS SOLO -
                    <tr *ngFor="let control of arrControl">
                        <td scope="row">{{control.date|date: 'dd/MM/yyyy'}}</td>
                        <td>{{controls.time}}</td>
                        <td>{{controls.mgdl}}</td>
                        <td><button type="submit" class="btn btn-primary" (click)="editar(controls.id)">Editar</button></td>
                        <td><button type="submit" class="btn btn-primary" (click)="eliminar(controls.id)">Eliminar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
 -->