node_modules
config/secrets
frontend/src/app/app.module.ts

frontend/src/app/components/auth/login/login.component.css

frontend/src/app/components/auth/login/login.component.html

frontend/src/app/components/auth/login/login.component.spec.ts

frontend/src/app/components/auth/login/login.component.ts

frontend/src/app/components/auth/register/register.component.css

frontend/src/app/components/auth/register/register.component.html

frontend/src/app/components/auth/register/register.component.spec.ts

frontend/src/app/components/auth/register/register.component.ts
